extends layout

block content

  #message-list
  #options-container
    p
      input(type='text', id="solution-path", placeholder='Path of Solution to build');
    p
      input(type='text', id="specific-project", placeholder="Name of Project")
  #button-container
    button#build-project Build Project
    a#show-options Settings
  script(id='message-template', type='text/x-handlebars-template')
    <div class="message">
    <h2>{{status}}</h2>
    <span class='time-stamp'>{{dateCreated}}</span>
    <p>{{log}}</p>
    </div>
    </div>

  
